# How to make the pandas DataFrame smaller and faster?

In [3]:
import pandas as pd

In [4]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [6]:
drinks.info() # object will have a reference to it so the given memory usage is approximate

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 10.6+ KB

In [7]:
drinks.info(memory_usage = 'deep') ## actual memory usage

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 25.8 KB

In [9]:
drinks.memory_usage(deep = True) # memory usage of each column, memory size in bytes

country                         9500
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                       9244
dtype: int64

In [10]:
drinks.memory_usage(deep= True).sum()

24920L

In [12]:
# what if we can store object as integer values?
sorted(drinks.continent.unique())

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [13]:
# convert object column into a category type 
drinks['continent'] = drinks.continent.astype('category')

In [14]:
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [15]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): [Africa, Asia, Europe, North America, Oceania, South America]

In [16]:
drinks.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8

In [17]:
drinks.memory_usage(deep = True)

country                         9500
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                        488
dtype: int64

In [18]:
drinks['country'] = drinks.country.astype('category')

In [19]:
drinks.memory_usage(deep = True)

country                         9886
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                        488
dtype: int64

In [28]:
df = pd.DataFrame({'ID':[100,101,102,103], 'quality':['good','very good','good','excellent']})

In [21]:
df

    ID    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

In [29]:
df.sort_values('quality') # this performs alphabetical ordering of values

    ID    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

In [30]:
## tell Pandas to perform a logical ordering
df['quality'] = df.quality.astype('category', categories = ['good', 'very good', 'excellent'], ordered = True)

In [31]:
df.quality.head()

0         good
1    very good
2         good
3    excellent
Name: quality, dtype: category
Categories (3, object): [good < very good < excellent]

In [35]:
# we can use boolean conditions on this column as follows
df.loc[df.quality > 'good',:]

    ID    quality
1  101  very good
3  103  excellent