In [1]:
import pandas as pd, numpy as np
import datetime, time, json
import xml.etree.ElementTree as ET
from pymongo import MongoClient
from bson import json_util
from pandas.io.json import json_normalize
from bson import json_util, ObjectId

In [ ]:
yr = (datetime.datetime.utcnow() - datetime.timedelta(2)).year
mo = (datetime.datetime.utcnow()- datetime.timedelta(2)).month
dt = (datetime.datetime.utcnow()- datetime.timedelta(2)).day

hr = datetime.datetime.utcnow().hour
ms = datetime.datetime.utcnow().minute
ss = datetime.datetime.utcnow().second

yr_1 = (datetime.datetime.utcnow() - datetime.timedelta(1)).year
mo_1 = (datetime.datetime.utcnow()- datetime.timedelta(1)).month
dt_1 = (datetime.datetime.utcnow()- datetime.timedelta(1)).day

print yr, mo, dt, yr_1, mo_1, dt_1, hr, ms, ss

In [ ]:
client = MongoClient("mongodb://172.25.69.155:27017")
db = client['KeyTelematics']

tree = ET.parse('..\common\\fleet-management\\asset.xml')
data = pd.DataFrame()



for asset in tree.findall('Asset'):
            name = asset.get('Name')         
            cursor = db.TelemeteryData_June2016.find(                                             
            {             
            "telemeteryData.assetName":{'$in':[name]},
            "customData.date":  {'$in':
                                 ['3/1/2017','3/2/2017','3/3/2017','3/4/2017','3/5/2017','3/6/2017','3/7/2017','3/8/2017',
                                  '3/9/2017','3/10/2017','3/11/2017','3/12/2017','3/13/2017','3/14/2017','3/15/2017','3/16/2017',
                                  '3/17/2017','3/18/2017','3/19/2017','3/20/2017','3/21/2017','3/22/2017','3/23/2017','3/24/2017',
                                  '3/25/2017','3/26/2017','3/27/2017','3/28/2017','3/29/2017','3/30/2017','3/31/2017','4/1/2017',
                                  '4/2/2017','4/3/2017','4/4/2017','4/5/2017','4/6/2017','4/7/2017','4/8/2017','4/9/2017','4/10/2017',
                                  '4/11/2017','4/12/2017','4/13/2017','4/14/2017','4/15/2017','4/16/2017','4/17/2017','4/18/2017',
                                  '4/19/2017','4/20/2017','4/21/2017','4/22/2017','4/23/2017','4/24/2017','4/25/2017','4/26/2017',
                                  '4/27/2017','4/28/2017','4/29/2017','4/30/2017']
 
                                }
            },                                                     
            {'telemeteryData':1, 'customData':1})          

            print cursor.count(), name

In [6]:
df = pd.read_csv('D:\PythonTutorials\data\log_data.csv', index_col = 'DATETIME', parse_dates = ['DATETIME'])

In [7]:
df.head()

,ASSET ID,TEMP_OUT,TEMP_IN,HUMIDITY_PCT,BATTERY_LEVEL,DOOR_STATUS
DATETIME,,,,,,
2017-05-15 22:10:00,CCU 1,25.00,15.5,75.80,7.33,Closed
2017-05-15 22:11:00,CCU 1,25.25,15.6,71.69,7.35,Closed
2017-05-15 22:12:00,CCU 1,25.25,15.8,69.69,7.35,Closed
2017-05-15 22:13:00,CCU 1,25.25,15.8,69.40,7.35,Closed
2017-05-15 22:14:00,CCU 1,25.25,15.9,68.90,7.35,Closed

In [3]:
from mongotriggers import MongoTrigger

In [5]:
triggers = MongoTrigger(conn)

NameError: name 'conn' is not defined

In [4]:
triggers.register_delete_trigger(notify_manager, 'my_account', 'my_transactions')

NameError: name 'triggers' is not defined