In [17]:
import pandas as pd, os
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
os.chdir('D:/IoT')

In [3]:
import sklearn
print sklearn.__version__

0.17

In [4]:
df = pd.read_csv("TelemeteryData_July_August.csv", nrows = 1000)

In [8]:
df = df[df.assetName == 'Polo GT']

In [14]:
from sklearn import cluster

In [15]:
df.columns

Index([u'Date', u'Time', u'active', u'assetName', u'date', u'accuracy',
       u'address', u'age', u'altitude', u'heading', u'lat', u'lon', u'speed',
       u'received', u'Business/Private', u'Engine Temp', u'Fuel Used',
       u'Odometer', u'RPM', u'airflow', u'battery_voltage', u'can_01',
       u'can_1F', u'can_5C', u'engine', u'event_id', u'fuel_level_02',
       u'harsh_accel', u'harsh_brake', u'harsh_corner', u'hdop',
       u'hours_00_counter', u'idle_counter', u'ignition', u'impact',
       u'intake_temp', u'mil_status', u'moving', u'nudge', u'overspeed',
       u'power_voltage', u'roaming', u'rsq', u'throttle'],
      dtype='object')

In [16]:
k_means = cluster.KMeans(n_clusters = 2)
k_means.fit(df[['speed','power_voltage','battery_voltage']])

print k_means.labels_

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 0 1 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0
 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 0 1 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1]

In [20]:
df['clus_mem'] = k_means.labels_
print df.head()

        Date   Time active assetName            date  accuracy  \
1  6/30/2016   0:04  False   Polo GT  6/30/2016 0:04        11
3  6/30/2016   0:19  False   Polo GT  6/30/2016 0:19        11
5  6/30/2016   0:34  False   Polo GT  6/30/2016 0:34        11
7  6/30/2016   0:49  False   Polo GT  6/30/2016 0:49        11
9  6/30/2016   1:04  False   Polo GT  6/30/2016 1:04         9

                                          address  age  altitude  heading  \
1  Amman Koil Street, Selaiyur, Tamil Nadu, India    0        13        0
3  Amman Koil Street, Selaiyur, Tamil Nadu, India    0        13        0
5  Amman Koil Street, Selaiyur, Tamil Nadu, India    0        13        0
7  Amman Koil Street, Selaiyur, Tamil Nadu, India    0        13        0
9  Amman Koil Street, Selaiyur, Tamil Nadu, India    0         7        0

     ...     intake_temp  mil_status  moving nudge overspeed  power_voltage  \
1    ...             NaN         NaN       0   NaN       NaN          11.83
3    ...             NaN         NaN       0   NaN       NaN          11.81
5    ...             NaN         NaN       0   NaN       NaN          11.86
7    ...             NaN         NaN       0   NaN       NaN          11.83
9    ...             NaN         NaN       0   NaN       NaN          11.86

   roaming  rsq  throttle  clus_mem
1        1   15       NaN         1
3        1   16       NaN         1
5        1   17       NaN         1
7        1   18       NaN         1
9        1   19       NaN         1

[5 rows x 45 columns]

In [56]:
dt = '2017/1/5'
yr  = pd.to_datetime(dt).year
mo  = pd.to_datetime(dt).month
date = pd.to_datetime(dt).day

print yr, mo, date

2017 1 5

In [29]:
from pymongo import MongoClient
import datetime
from pandas.io.json import json_normalize
import numpy as np
import pandas as pd

In [44]:
client = MongoClient("mongodb://172.25.69.155:27017")
db = client['KeyTelematics']




# print pd.to_datetime(start_date).year
# print pd.to_datetime(start_date).month
# print pd.to_datetime(start_date).day

# print pd.to_datetime(end_date).year
# print pd.to_datetime(end_date).month
# print pd.to_datetime(end_date).day

# cursor = db.TelemeteryData_June2016_Test.find(                                             
#             {             
#             "telemetryData.assetName":{'$eq':assetName},
#             # "customData.date":{"$in":[start_date, end_date]}
#             "telemetryData.date":
#                                 {"$gte":datetime.datetime(  pd.to_datetime(start_date).year,
#                                                             pd.to_datetime(start_date).month, 
#                                                             pd.to_datetime(start_date).day)
# #                                  "$lt":datetime.datetime(  pd.to_datetime(end_date).year,
# #                                                             pd.to_datetime(end_date).month, 
# #                                                             pd.to_datetime(end_date).day)
#                                 }
#             },                                                     
#             {'telemetryData':1}) 

# df_json = list(cursor)
# df_cursor = json_normalize(df_json)


# print df_cursor['telemetryData.date'].tail(10)

In [50]:
def data_extractor(assetName, start_date, end_date):
    
        cursor = db.TelemeteryData_June2016_Test.find(                                             
            {             
            "telemetryData.assetName":{'$eq':assetName},
            "telemetryData.date":
                                {"$gte":datetime.datetime(pd.to_datetime(start_date).year,
                                                            pd.to_datetime(start_date).month, 
                                                            pd.to_datetime(start_date).day),
                                 "$lte":datetime.datetime(pd.to_datetime(end_date).year,
                                                            pd.to_datetime(end_date).month, 
                                                            pd.to_datetime(end_date).day)
                                }},                                                     
            {'telemetryData':1, 'customData':1})          
            
        df_json = list(cursor)
        df_cursor = json_normalize(df_json)
        df_cursor.columns = df_cursor.columns.str.replace('location.','')
        df_cursor.columns = df_cursor.columns.str.replace('telemetryData.','')
        df_cursor.columns = df_cursor.columns.str.replace('telemetry.','')
        df_cursor['date_utc'] = pd.to_datetime(df_cursor.date).dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata').dt.tz_localize(None)
        df_cursor.sort_values(['date_utc'], ascending = True)
        df_cursor['date_use'] = df_cursor.date_utc.apply(lambda x : x.strftime('%Y-%m-%d'))
        df_cursor['dup_loc'] = df_cursor.groupby(['date_use','lat', 'lon']).cumcount().apply(lambda x: x + 1)
        df_asset = df_cursor.loc[(df_cursor.assetName == assetName) & (df_cursor.dup_loc == 1) & (df_cursor.engine > 0) & (df_cursor.ignition > 0), :].copy()
        df_asset = df_asset.reset_index(drop = True)
        
        df = pd.DataFrame()

        grouped = df_asset.groupby('date_use')

        for name, group in grouped:

                g = pd.DataFrame(group)
                g['time_diff'] = (g.date_utc - g.date_utc.shift(1)).apply(lambda x: x/np.timedelta64(1, 'm'))                                       
                g['row_num']  = g.groupby('date_use').cumcount().apply(lambda x : x + 1)
                
                for index, row in g.iterrows():

                        if g.loc[index, 'row_num'] == 1:

                                g.loc[index, 'Trip'] = 1

                        else:

                                if g.loc[index, 'time_diff'] > 15.0:

                                        g.loc[index, 'Trip'] = g.loc[pd.to_numeric(index) - 1, 'Trip'] + 1                                                                        
                              
                                else:
                                        g.loc[index,'Trip'] = g.loc[pd.to_numeric(index) - 1, 'Trip']
                    
               
                df2 = pd.DataFrame()
                
                grp = g.groupby('Trip')

                for name, group in grp:
                    
                    g1 = pd.DataFrame(group)            
                    g1['avg_speed'] = round(g1['speed'].mean(),0)
                    g1['max_speed'] = round(g1['speed'].max(),0)
                    g1['total_distance'] = round(g1.Odometer.iloc[-1] - g1.Odometer.iloc[0], 0)                            
                    g1['diff_speed'] = g1.speed - g1.speed.shift(1).fillna(np.NaN)
                    g1.diff_speed.fillna(0, inplace = True)

                    for index, row in g1.iterrows():
                                    
                        if g1.loc[index, 'diff_speed'] <= -40:
                            
                            g1.loc[index, 'harsh_brake'] = 1
                        
                        else:
                            
                            g1.loc[index, 'harsh_brake'] = 0

                        if g1.loc[index, 'diff_speed'] >= 40:

                            g1.loc[index, 'harsh_accl'] = 1

                        else:
                            
                            g1.loc[index, 'harsh_accl'] = 0

                    
                    g1['harsh_brake'] = g1['harsh_brake'].sum()
                    g1['harsh_accl'] = g1['harsh_accl'].sum()
                    df2 = df2.append(g1)   
                                 
                df = df.append(df2)
                
        df['row'] = df.groupby(['date_use','Trip']).cumcount().apply(lambda x :x + 1)
        df = df.loc[df.row == 1, ['assetName','date_use','Trip']].copy()
        print df.head(20)
                                          
#                 return pd.DataFrame({assetName : df.assetName,
#                                      assetName +'_Date': df.date_use,
#                                      assetName+'_speed': df.speed,
#                                      assetName+'_avg_speed': df.avg_speed,
#                                      assetName+'_trip_distance':df.totalDist_trip,
#                                      assetName+'_harsh_accl': df.harsh_accl,
#                                      assetName+'_harsh_brake': df.harsh_brake,
#                                      assetName+'_trip': df.Trip})

In [46]:
#Kmeans clustering

from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np

In [40]:
def get_data(vehicle_name, start_dt, end_date):
        df = data_extractor(vehicle_name, start_dt, end_date)
        df['ticker1'] = df[vehicle_name]
        k_means = KMeans(n_clusters = 2, init = 'k-means++')
        k_means.fit(df[[vehicle_name+'_avg_speed',vehicle_name+'_harsh_accl',vehicle_name+'_harsh_brake',vehicle_name+'_trip' ]])
        return k_means.labels_

In [51]:
data_extractor('Polo GT', '1/1/2017', '10/1/2017')

     assetName    date_use  Trip
0      Polo GT  2017-01-05   1.0
198    Polo GT  2017-01-05   2.0
419    Polo GT  2017-01-06   1.0
631    Polo GT  2017-01-06   2.0
723    Polo GT  2017-01-06   3.0
843    Polo GT  2017-01-06   4.0
1060   Polo GT  2017-01-07   1.0
1153   Polo GT  2017-01-07   2.0
1220   Polo GT  2017-01-07   3.0
1620   Polo GT  2017-01-07   4.0
1776   Polo GT  2017-01-07   5.0
2010   Polo GT  2017-01-07   6.0
2029   Polo GT  2017-01-08   1.0
2135   Polo GT  2017-01-08   2.0
2301   Polo GT  2017-01-08   3.0
2412   Polo GT  2017-01-08   4.0
2683   Polo GT  2017-01-08   5.0
3010   Polo GT  2017-01-09   1.0

In [2]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

ImportError: cannot import name IsolationForest

In [1]:
rng = np.random.RandomState(42)

# Generate train data
X = 0.3 * rng.randn(100, 2)
X_train = np.r_[X + 2, X - 2]
# Generate some regular novel observations
X = 0.3 * rng.randn(20, 2)
X_test = np.r_[X + 2, X - 2]
# Generate some abnormal novel observations
X_outliers = rng.uniform(low=-4, high=4, size=(20, 2))

# fit the model
clf = IsolationForest(max_samples=100, random_state=rng)
clf.fit(X_train)
y_pred_train = clf.predict(X_train)
y_pred_test = clf.predict(X_test)
y_pred_outliers = clf.predict(X_outliers)

# plot the line, the samples, and the nearest vectors to the plane
xx, yy = np.meshgrid(np.linspace(-5, 5, 50), np.linspace(-5, 5, 50))
Z = clf.decision_function(np.c_[xx.ravel(), yy.ravel()])
Z = Z.reshape(xx.shape)

plt.title("IsolationForest")
plt.contourf(xx, yy, Z, cmap=plt.cm.Blues_r)

b1 = plt.scatter(X_train[:, 0], X_train[:, 1], c='white')
b2 = plt.scatter(X_test[:, 0], X_test[:, 1], c='green')
c = plt.scatter(X_outliers[:, 0], X_outliers[:, 1], c='red')
plt.axis('tight')
plt.xlim((-5, 5))
plt.ylim((-5, 5))
plt.legend([b1, b2, c],
           ["training observations",
            "new regular observations", "new abnormal observations"],
           loc="upper left")
plt.show()

ImportError: cannot import name IsolationForest