In [49]:
%matplotlib inline

In [2]:
# Load the training dataset
import pandas as pd
import numpy as np
import os, sys
os.chdir("D:\Kaggle\Titanic")

In [41]:
train = pd.read_csv("train.csv", sep = ",", na_values ="")

In [47]:
df4.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Salutation_x,Salutation_y
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,Mr,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,Mrs,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,Mrs,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,Mr,Mr

In [ ]:
sum(train['Cabin'].isnull())

In [42]:
def name_extract(word):
    return word.split(',')[1].split('.')[0].strip()

In [43]:
df1 = pd.DataFrame({'Salutation':train['Name'].apply(name_extract)})
df2 = pd.merge(train, df1, left_index = True, right_index = True)

In [44]:
df2.groupby('Salutation').PassengerId.count()

Salutation
Capt              1
Col               2
Don               1
Dr                7
Jonkheer          1
Lady              1
Major             2
Master           40
Miss            182
Mlle              2
Mme               1
Mr              517
Mrs             125
Ms                1
Rev               6
Sir               1
the Countess      1
Name: PassengerId, dtype: int64

In [32]:
def gr_salutation(old_saluation):
    if old_saluation == 'Mr':
        return('Mr')
    else:
        if old_saluation == 'Mrs':
            return('Mrs')
        else:
            if old_saluation == 'Miss':
                return('Miss')
            else:
                if old_saluation == 'Master':
                    return('Master')
                else:
                    return('Others')

In [45]:
df3 = pd.DataFrame({'Salutation':df2['Salutation'].apply(gr_salutation)})
df4 = pd.merge(df2, df3, left_index = True, right_index = True)

In [ ]:
# Boxplot
df4.boxplot(column = 'Age', by = ('Sex','Pclass'))

In [68]:
table = df4.pivot_table(values = 'Age', index = ['Salutation_y'], columns = ['Pclass', 'Sex'], aggfunc = np.median)

In [66]:
def fage(x):
    return table[x['Pclass']][x['Sex']][x['Salutation_y']]

In [72]:
print table

Pclass            1           2            3
Sex          female male female  male female male
Salutation_y
Master          NaN    4    NaN   1.0    NaN    4
Miss           30.0  NaN     24   NaN     18  NaN
Mr              NaN   40    NaN  31.0    NaN   26
Mrs            41.5  NaN     32   NaN     31  NaN
Others         28.5   49     28  46.5    NaN  NaN