In [3]:
## Import libraries

import pandas as pd
import numpy as np
import scipy as sp
from sklearn.linear_model import LogisticRegression
import time, os

In [4]:
start_time = time.time()
os.chdir("D:\Kaggle\Walmart")
walt_train = pd.read_csv("train.csv")
walt_test = pd.read_csv("test.csv")

In [6]:
walt_train.head(5)

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
1,30,7,Friday,60538815980,1,SHOES,8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017

In [11]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                    'C': [1, 2, 3]})

In [12]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [14]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1

In [15]:
pd.get_dummies(df, prefix = ['col1', 'col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1